.modalWrapper {
  width: 300px;
  height: 110px;
  background-color: #d4d0c8;
  box-shadow: 0px 0px 2px 1px rgba(142, 141, 140, 0.83);
  position: absolute;
  top: 50%;
  left: 50%;
  /* transform: translate(-50%, -50%); */
}
